.mainTitle {
    font-size: 60px;
}
#hrBreak {
    border: 3px solid black;
}
#time {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
}
#input {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.save {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    /* ------------- */
    background-image: url(http://www.iconarchive.com/download/i103415/paomedia/small-n-flat/floppy.ico);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}